<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AirportDatabase" connectionString="Data source=DELL-INSPIRON-5\SQLEXPRESS;Initial Catalog=AirportDatabase; Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="CurrentCityName" value="Самара" /> 
  </appSettings>
</configuration>